/* Герой */
.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header-img/header-mob-1px.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 480px 400px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header-img/header-mob-2px.jpg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 480px 400px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header-img/header-tab-1px.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 768px 400px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      text-align: center;
      padding-top: 118px;
      padding-bottom: 118px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header-img/header-tab-2px.jpg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 768px 400px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/header-img/header-desc-1px.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1600px 600px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      text-align: center;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/header-img/header-desc-2px.jpg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 1600px 600px;
    }
  }
}
.hero--primacy-bg-color {
  background-color: $primary-second-bg-color;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-bg-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $primary-bg-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero__button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: 0px solid transparent;
  min-width: 200px;
  padding: 10px 32px;
  color: $primary-bg-color;
  background-color: $accent-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-bg-color;
    background-color: $hero-button-hover-color;
  }
}
