body {
  margin: 0;
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
