.container {
  // max-width: 1200px;
  min-width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 480px) {
    width: 480px;
    overflow-x: hidden;
  }

  @media screen and(min-width: 768px) {
    width: 768px;
    background-color: yellow;
  }

  @media screen and(min-width: 1200px) {
    width: 1200px;
  }
}
