.container {
  //   width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  //   @media screen and (min-width: 480px) {
  //     width: 480px;
  //   }
  //   @media screen and (min-width: 480px) and (max-width: 768px) {
  //   }
}
