$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$hero-button-hover-color: #188ce8;
$primary-bg-color: #fff;
$color-studio: #000;
$our-team-bg-color: #f5f4fa;
$footer-contact-link: rgba(255, 255, 255, 0.6);
$primary-second-bg-color: #2f303a;
$portfolio-border-color: #eee;
$header-border-color: #ececec;
$social-icons-color: #afb1b8;
$we-do-text-position: rgba(47, 48, 58, 0.8);
$backdrop-color: rgba(0, 0, 0, 0.2);
